<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% include ./header %>
  <title>마이 페이지</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="main-title" onclick="location.href='./'" style="cursor:pointer">분실물 토탈 관리: 내 알림 목록</h1>
      </div>
    </div>
    <div class="row condition-row" style="padding:0 10%">
      <div class="col-lg-12"  style="text-align:center">
        <% items.forEach(function(item){ {%>
          <div class='row'>
            <div class='col-xs-10'>
              <div class="row condition-row">
                <div class="col-6 col-md-3">
                  🗓 <%=item.date%>
                </div>
                <div class="col-6 col-md-3">
                  🌏 <%=item.location%>
                </div>
                <div class="col-6 col-md-3">
                  📚 <%=item.category%>
                </div>
                <div class="col-6 col-md-3">
                  🔎 <%=item.name%>
                </div>
              </div>
            </div>
            <div class='col-xs-2'>
              <form action="./remove" method="post">
                <input type='hidden' name='date' value='<%=item.date%>'/>
                <input type='hidden' name='location' value='<%=item.location%>'/>
                <input type='hidden' name='category' value='<%=item.category%>'/>
                <input type='hidden' name='name' value='<%=item.name%>'/>
                <input type='submit' class='btn btn-danger' value='삭제'/>
              </form>
            </div>
        <% }) %>
      </div>
    </div>
  </div>
</body>
</html>
